{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        babashka/process    {:mvn/version "0.5.22"}
        babashka/fs         {:mvn/version "0.5.20"}}
 :aliases
 {
;;   :run-m {:main-opts ["-m" "kurtharriger.clj-mergetool"]}
;;   :run-x {:ns-default kurtharriger.clj-mergetool
;;           :exec-fn greet
;;           :exec-args {:name "Clojure"}}
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.4"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}}}
